* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background: #040404;
    font-family: "Lato", sans-serif;
}


.container {
    max-width: 1570px;
    padding: 0 30px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-list {
    display: flex;
    align-items: center;
}
.header-list-point {
    margin-right: 60px;
}
.header-list-point:last-child {
    margin-right: 0;
}

.header-list-point a {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #f3f3f3;
}

.header__btn {
    background: linear-gradient(0deg, #7f42fa 0%, #9e83ff 100%);
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    cursor: pointer;

    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #f3f3f3;
}

.banner {
    padding: 100px 0 555px 0;
    background: url('../images/png/piano.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.banner__title {
    font-weight: 900;
    font-size: 220px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #f3f3f3;
}
.banner__title span {
    display: block;
}

.banner-play {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #f3f3f3;
}

.banner-play-btn {
    background: linear-gradient(0deg, #7f42fa 0%, #9e83ff 100%);
    max-width: 610px;
    width: 100%;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: #f3f3f3;
}

.banner-play-btn span {
    font-size: 18px;
    margin-left: 8px;
}

.about {
    padding-top: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    font-weight: 600;
    font-size: 70px;
    color: #f3f3f3;
    text-align: center;
    margin-bottom: 40px;
}

.about__subtitle {
    text-align: center;
    margin-bottom: 40px;
}

.about__subtitle span {
    display: block;
    max-width: 1200px;
}

.about-biography {
    margin-top: 40px;
    display: flex;
    max-width: 618px;
}

.about-biography-right {
    margin-left: 30px;
    position: relative;
}

.about-biography-author {
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    font-style: italic;
} 

.about-biography-author span {
    display: block;
    font-size: 14px;
    font-style: normal;
}

.about-biography__text {
    max-width: 294px;
}












@media screen and (max-width: 1400px) {
    .banner__title {
        font-size: 180px;
    }
}
@media screen and (max-width: 1200px) {
    .banner__title {
        font-size: 150px;
    }
    .banner-play-btn {
        max-width: 305px;
    }
    .about-biography-author {
        white-space: normal;
    }
}
@media screen and (max-width: 1000px) {
    .banner__title {
        font-size: 80px;
    }
    .banner-play__text {
        font-size: 15px;
    }
}